<div class="marquee">
  <p>Fonda Gaby</p>
  <p>Editar Detalle de Platillo</p>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Editar Detalle De Platillo</h3>
  </div>

  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>