<div class="marquee">
  <p>Fonda Gaby</p>
  <p>Nuevo Pedido</p>
</div>


<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Nuevo Pedido</h3>
  </div>

  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>